body {
    text-align: center;
    margin: 0;
    padding: 0;
    background-color: rgb(247, 93, 93);
  
}
h1{
    margin: 0;
    padding: 15px;
    background-color: rgb(172, 236, 167);
}

.main{
    margin:  1.5% 0 ;
    padding: 1.5%;
}
.list{
    list-style: none;
}


.new{
    padding: 0;
    border: 0;
    background-color: transparent;
}