@mixin dimension(){
    width: 200px;
    height: 300px;
}

.head {
width: 500px;
height: 600px;

    img{
        @include dimension();
    }
    button{
      
        display: block;
        padding: 10px;
        margin: 10px 50px;
        background-color: aqua;
  
}}
