*
{
    box-sizing: border-box;
    margin: 0;
    padding: 0;

}

body{
    background-color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 100vh;

}

.clock{
    height: 300px;
    width: 300px;
    border-radius: 50%;
    background-color: black;
    border: 10px solid floralwhite;

}

.hand{
    width: 8%;
    height: 3px;
    background-color: white;
    position: absolute;
    top: 50%;
    transform-origin: 100%;
    transform: rotate(90deg);
    transition: all 0.05s;
    transition-timing-function: cubic-bezier(0.1, 2.7, 0.32, 1.32);
}

